<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Tile</title>
</head>
<body>
    <div class="tile">
        <h4>{{tile.title}}</h4>
        <p>{{tile.description}}</p>
        <img class="imgtile" [src]="tile.imageUrl" [alt]="tile.title" />
    </div>

    
</body>
</html>